<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <div class="filters">
        <p class="filter-head">Lead Statuses</p>
        <%= form_tag(leads_path, method: :get) do %>
          <% @status.each do |s| %>
            <p class="filter-body">
              <%= check_box_tag :lead, s %> <%= s %> <%= @leads.where(status: s).count %>
            </p>
            <% end %>
            <%= submit_tag 'Search', name: nil %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-9">
      <div class="bg-color">
        <div class="lead-header">
          <h5><b>Leads</b></h5>
          <p><%= link_to "Create Lead", new_lead_path %></p>
          <%= form_tag(leads_path, method: :get) do %>
            <%= text_field_tag :lead, params[:lead] %>
            <%= submit_tag 'Search', name: nil %>
          <% end %>
        </div>
      <% @leads.each do |l| %>
        <div class="lead">
          <div class="lead-status">
            <% if l.status == "New" %>
              <p class="strip status new"><%= l.status %></p>
            <% elsif l.status == "Contacted" %>
              <p class="strip status contacted"><%= l.status %></p>
            <% elsif l.status == "Converted" %>
              <p class="strip status converted"><%= l.status %></p>
            <% elsif l.status == "Rejected" %>
              <p class="strip status rejected"><%= l.status %></p>
            <% end %>
          </div>
          <div class="lead-name">
            <h3><%= link_to l.name, l %></h3>
            <p><%= l.created_at.strftime("%a, %b %d %y") %></p>
          </div>
          <div class="lead-body">
            <p><b>Email: </b><%= l.email %></p>
            <p> <b>Message: </b> <%= l.message %></p>
          </div>
          <div class="links">
            <p><%= link_to "Edit", lead_path(l) %>| <%= link_to "Convert", convert_path(l) %>|
              <%= link_to "Reject", lead_path(l), method: :delete, data: { confirm: "Are You Sure?"} %>|
              <%= link_to "Delete!", lead_path(l), method: :delete, data: { confirm: "Are You Sure?"} %></p>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>



<style>
  .filters {
    background: white;
    margin: 10px 0px 12px 0px;
    padding: 6px 8px 6px 8px;
    font-size: 11px;
    color:#3f3f3f;
  }

  .filter-head {
    border-bottom: 1px grey solid;
    /*color: navy;*/
    font-size: 12px;
    font-weight: bold;
    margin: 4px 0px 5px 0px;
    padding: 2px 0px 2px 0px;
    color:#3f3f3f;
  }

  .filter-body {
    font-size: 11px;
    border-bottom: 1px silver dotted;
  }

  .strip {
    color: #777777;
    float: left;
    font-size: 11px;
    margin: 0px 6px 0px 0px;
    padding: 1px 4px 1px 3px;
    text-align: right;
    width: 75px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .lead-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    border-bottom: 1px solid #A8A8A8;
    margin: 0px 10px;
  }

  .lead-header h5 {
    color:#888888;
  }

  .lead-header p {
    font-size: 0.8em;

  }

  .bg-color {
    background-color: white;
    margin-top: 10px;
  }

  .lead {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(220,224,244,0.4);
    margin:0;

  }

  .lead:last-child {
    border-bottom: none;
  }
  .lead-body {
    /*flex-grow: 1;*/
  }
  .lead-name {
    padding-left: 10px;
    min-width: 100px;
  }
  .lead-name h3 {
    font-size: 13px;
    margin-bottom: 0px;
  }
  .lead-name p {
    font-size: 13px;
    font-weight: lighter;
    opacity: 0.6;
    margin-top: 5px;
  }
  .lead-body {
    font-size: 13px;
    color: rgba(0,0,0,0.7);
    padding-left: 20px;
    padding-right: 10px;
    width:60%;
  }

  .lead-body strong{
    color: rgba(0,0,0,0.9);
    color: rgba(0,0,0,0.9);
  }
  .lead-body p {
    margin: 6px 0;
    color: rgba(0,0,0,0.4);
  }
  .lead-status {
    padding-left: 10px;
    font-weight: bold;
    font-size: 14px;
  }

  .links {
    font-size: 14px;
    padding-right: 10px;
    padding-left: 20px;
  }

  .status.contacted {
    background: #22E0D1;
  }

  .status.converted {
    background: #00FE52;
  }

  .status.rejected {
    background: #ff2622;
    color: gainsboro;
  }

  .status.new {
    background: gainsboro;
  }

  @media all and (max-width: 500px) {
    .lead {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
      padding:5px;
      text-align: center;
    }
  }

  /*@media(max-width:500px) {
    .lead-body {
      width:100%;
      font-size: 13px;
      color: rgba(0,0,0,0.7);
      padding-left: 20px;
      padding-right: 10px;
    }
  }*/

</style>
