<div class="container">
  <div class="row text-center">
    <div class="col-xs-12">
      <h1 class="d-grey">Welcome to Caremeds CRM</h1>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="d-grey">Latest Leads</h2>
  <div class="row">
  <% @leads.each do |l| %>
    <a href="javascript:void()" onclick="$.ajax('<%= lead_path(l)%>.js')">
      <%#= link_to lead_path(l) do %>
      <div class="col-xs-12 col-sm-4 scale">
        <div class="lead-name">
          <p>Name: <%= l.name %></p>
        </div>
        <div class="lead-body">
          <p>Email: <%= l.email %></p>
          <p>Message: <%= l.message %>  </p>
        </div>
      </div>
      </a>
    <%# end %>
  <% end %>
  </div>
  <div class="pad-bottom">
    <%= link_to "Search New Lead", search_lead_path, class: "btn btn-success", id: "search-lead" %>
    <%= link_to "Create a New Lead", new_lead_path, class: "btn btn-warning" %>
  </div>
  <div class="pad-bottom">
    <%= paginate @leads, window: 2 %>
    <div class="text-right">
      <%= page_entries_info @leads %>
    </div>
  </div>
</div>

<script>
  window.onload = function() {
  $('.lead-name').hide();
  $('.lead-body').hide();
    $('.lead-name').fadeIn(1250, "swing", function(){});
    $('.lead-body').fadeIn(1250, "linear", function(){});

  $('#search-lead').click(function(e) {
    $.ajax('<%= please_wait_path %>.js')
  });
  }
</script>


<style>
  .pagination {
    display: block;
    margin:0;
  }

  .lead-body {
    background:#FFFAFA;
    padding:5px;
    margin-left:5px;
    margin-bottom:15px;
    height:150px;
    color:#7f7d7d;
    border-radius:0px 0px 5px 5px;
    box-shadow: 3px 4px 18px -2px rgba(0,0,0,0.69);
  }

  .scale:hover {
    transform: scale(1.1);
  }

  .d-grey {
    color:#686868;
  }

  .lead-name {
    background-color:#0198EB;
    padding:5px;
    margin-left:5px;
    color:white;
    border-radius:5px 5px 0px 0px;
    box-shadow: 3px 4px 18px -2px rgba(0,0,0,0.69);
  }

  .pad-bottom {
    padding-bottom: 25px;
  }
</style>
