<!-- <div class="container">
  <div class="row">
    <div class=""> -->
      <div class="lead-show">
        <!-- <h1 class="text-center"><b></b>Lead# <%#= @lead.id %></h1> -->
        <%= simple_form_for @lead, remote: true do |f| %>
          <%= render 'shared/flashes' %>
          <div class="flex">
            <p><b>Name:</b> <%= @lead.name %></p>
            <a><i id="name" class="fas fa-pencil-alt fa-spin"></i></a>
          </div>
            <%= f.input :name, label: false, input_html: { class: 'special n' }%>
          <div class="flex">
            <p><b>Company:</b> <%= @lead.company %></p>
            <a><i id="company" class="fas fa-pencil-alt fa-spin"></i></a>
          </div>
            <%= f.input :company, label: false, input_html: { class: 'special c' }%>
          <div class="flex">
            <p><b>Email:</b> <%= @lead.email %></p>
            <a><i id="email" class="fas fa-pencil-alt fa-spin"></i></a>
          </div>
            <%= f.input :email, label: false, input_html: { class: 'special e' }%>
          <div class="flex">
            <p><b>Phone:</b> <%= @lead.phone %></p>
            <a><i id="phone" class="fas fa-pencil-alt fa-spin"></i></a>
          </div>
            <%= f.input :phone, label: false, input_html: { class: 'special p' }%>
          <div class="flex">
            <p><b>Message:</b> <%= @lead.message %></p>
            <a><i id="message" class="fas fa-pencil-alt fa-spin"></i></a>
          </div>
            <%= f.input :message, label: false, input_html: { class: 'special m' }%>
          <p><b>Status:</b> <%= @lead.status %></p>
          <div class="flex">
            <p><%= f.submit "Update Details", class: "btn btn-success update-details" %></p>
            <%= link_to lead_path(@lead), method: :delete, data: {confirm: 'Are you sure?', title: "Deleting Lead# #{@lead.id}"} do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </div>

          <hr>
          <p><b>Change Status:</b> <%= f.input :status, label: false, as: :select, collection: ["Open - Not Contacted", "Working - Contacted", "Closed - Converted", "Closed - Not Connected"] %></p>
          <p><%= f.submit "Update Status", class: 'btn btn-info' %></p>
          <hr>

          <p id="note">Notes:</p>
          <span class="btn btn-grey create-note"><i class="fas fa-plus-circle"></i></span>
          <span class="btn btn-grey view-note"><i class="fas fa-clipboard-list"></i></span>
          <div id="note-textbox">
            <%= f.simple_fields_for :notes, @lead.notes.build do |n| %>
              <%= n.input :content, label: false, placeholder: "Add Your Notes Here...", as: :text, input_html: { rows: 2, style: 'width: 100%'} %>
              <%# n.hidden_field :lead_id %>
              <%= n.submit "Add Notes", class: 'btn btn-success' %>
            <% end %>
          </div>
          <% if @lead.notes.exists? %>
          <% @lead.notes.each do |ln| %>
            <div class="flex notes">
              <p><%= ln.content %></p>
              <p><%= ln.created_at == nil ? nil : ln.created_at.strftime("%A, %b %d %y") %></p>
            </div>
          <% end %>
          <% else %>
            <p class="notes"> No Notes Currently! </p>
          <% end %>
        <% end %>
        <hr>
        <p><%= link_to "Back", leads_path, class: 'btn btn-primary' %></p>
      </div>
<!--     </div>
  </div>
</div> -->

<script>
  window.onload = function() {
    $('.special').hide();
    $('.update-details').hide();
    var leadShowIds = ["#name", "#company", "#email", "#phone", "#message"];
    var leadEditClasses = [".n", ".c", ".e", ".p", ".m"];
    leadShowIds.forEach(function(value, indexOfIds) {
      $(value).click(function(){
        leadEditClasses.forEach(function(val, indexOfClasses) {
          if (indexOfIds == indexOfClasses) {
            $(val).toggle(450);
            $('.update-details').toggle(550);
          }
        })
      })
    })
  $('.update-details').click(function(){
    window.location.reload();
  })
  $('.notes').each(function(val,i) {
    if (i.innerText == "") {
      this.remove();
    }
  })
  $('.notes').hide();
  $('.view-note').click(function(e){
    e.preventDefault();
    $('.notes').toggle();
  })
  $('#note-textbox').hide();
  $('.create-note').click(function(e){
    e.preventDefault();
    $('#note-textbox').toggle();
    $('html, body').animate({scrollTop:$(document).height()}, 'slow');
  })
  }

  // $('#name').on("click",function(){
  //   $('#name').toggle(500);
  // })
</script>


<style>
  .btn-grey {
    color: #fff;
    background-color: #808080;
    border-color: #696969;
  }

  .create-note {
    margin-top: 10px;
  }

  .view-note {
    margin-top: 10px;
  }

  #note-textbox {
    margin-top: 30px;
  }

  #note {
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    /*font-size: 18px;*/
  }

  .notes {
    background-color:#F5F5F5;
    /*color:white;*/
    padding:10px;
    margin:10px;
  }

  .notes:nth-child(even) {
      background-color: #E8E8E8;
  }

  .notes p {
    margin:0;
  }

  .fa-trash-alt {
    color:#EE2E34;
    opacity:0.75;
  }

  .fa-trash-alt:hover {
    color:#EE2E34;
    opacity:1;
  }

  .flex {
    display: flex;
    justify-content:space-between;
  }

  .lead-show {
    border-radius:5px;
    background: white;
    padding:20px 15px;
    /*margin-top: 15px;*/
    box-shadow: 11px 15px 32px -12px rgba(0,0,0,0.75);
    color:#7F7D7D;
  }
</style>

